* {
  margin: 0;
  padding: 0;
  font-family: "STKAITI";
}
.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 50vw;
  position: relative;
}
.timeline__content-title {
  font-weight: normal;
  font-size: 4.2vw;
  margin: -10px 0 0 0;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  /* font-family: "Oswald", sans-serif; */
  color: #fff;
}
.timeline__content-desc {
  margin: 0;
  font-size: 1.5vw;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.9);
  /* font-family: "Roboto Condensed", sans-serif; */
  font-weight: normal;
  line-height: 30px;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}
@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}
.timeline-item {
  padding: 40px 0;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 2.2vw;
  /* font-family: "Pathway Gothic One", sans-serif; */
  border-left: 2px solid rgb(255, 255, 255);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}
.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
  position: relative;
}
.timeline-header__title {
  color: #fff;
  font-size: 3.75vw;
  /* font-family: "Oswald", sans-serif; */
  font-weight: normal;
  margin: 0;
}
.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.65);
  /* font-family: "Pathway Gothic One", sans-serif; */
  letter-spacing: 5px;
  font-size: 1.25vw;
  margin: 10px 0 0 0;
  font-weight: normal;
}
.demo-footer {
  padding: 60px 0;
  text-align: center;
}
.demo-footer a {
  color: #999;
  display: inline-block;
  /* font-family: Cardo; */
}
.more {
  left: 880px;
  position: relative;
  line-height: 1;
  width: 500px;
  padding: 10px 10px;
}
.more a {
  color: rgb(228, 178, 51);
  text-decoration: none;
  font-size: 1.25vw;
  position: absolute;
  left: 10px;
  margin-left: 0px;
  top: -32px;
  writing-mode: horizontal-tb;
  width: 2px;
  z-index: 999;
  height: 20px;
}
.more i {
  position: absolute;
  left: 0px;
  top: -22px;
  background: url(../images/more2.png) no-repeat;
  background-size: contain;
  width: 48px;
  height: 100%;
}
.more:hover i {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.breadcrumb {
  margin: 10px 30px;
  position: absolute;
  z-index: 3;
}
.timeline__img1{
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  width: 1px;
  height: 1px;
}

.timeline-item--active1 {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active1:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}
.timeline-item1--active {
  margin: -50px 0 20px 0;
}
.timeline-item1 {
  padding: 40px 0;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}