.space1 {
  width: 100vw;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  /* color: #474747; */
  /* line-height: 1.2; */
  position: relative;
  margin: 50px 0px;
}
.space1 h1 {
 
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
  /* line-height: 1.2; */
  color: rgb(214, 154, 75);
  font-size: 2vw;
  text-align: center; 

}
.space1 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;
  /* line-height: 1.2; */
  color: rgb(66, 66, 65);
  font-size: 1.2vw;
  text-align: center; 

}
.space1 h2:hover {
  color: rgb(239, 208, 131);
}
.s1,
.s2 {
  position: absolute;
  display: block;
  width: 483px;
  /* width: 32vw; */
  height: 100%;
  top: 10px;
}
.s1 {
  left: 6vw;
  background: url(../images/spaceleft1.png) no-repeat right center;
}
.s2 {
  right: 6vw;
  background: url(../images/spaceright.png) no-repeat right center;
}

.left-line {
  width: 27%;
  position: absolute;
  left: 6vw;
  top: 17px;
}

.right-line {
  width: 27%;
  position: absolute;
  right: 6vw;
  top: 17px;
}

.space1-contain {
  justify-content: center;
  align-items: center;
 width: 650px;
  height: 100px;
   /* display: block; */
   text-align: center; 
  /* font-size: 26px; */
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
} 

 .contain-left-arrow {
  position: absolute;
  left: 60px;
  top: 11.7px;
  width: 40px;
} 

.contain-right-arrow {
  position: absolute;
  right: 60px;
  top: 11.7px;
  width: 40px;
  
}